// Video descriptions
h1{
  font-size: $normalFont;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

h2 {
  font-size: $normalFont;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

h4{
  font-size: $normalFont;
}

a {
  font-size: $smallFont ;
}

p{
  font-size: $smallFont;
}

.footer p {
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}