//Colors
$primary: #000;
$secondary: #fff;
$tertiary: rgb(121, 121, 121);

//Breakpoints
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-huge: 1200px;

//Fonts
$smallFont: 12px;
$normalFont: 16px;
$bigFont: 22px;

//Paddings
$padd-sm: 5%;
$padd-md: 10%;