.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-top: 20px;
  
  @include respond-to($bp-medium) {
    justify-content: space-between;
    padding-right: 10%;
    & li {
      padding-left: 5px;
    }
  }
  
  & ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  & li {
    display: block;
  }
  
  & li a {
    text-align: center;
    color: blueviolet;
    
  }
  & li input {
    border-radius: 25px;
    margin-left: 10px;
    padding-left: 5px;
  }
}

// MAIN
// Mobil
.principal {
  display: flex;
  flex-direction: column;
}

// Listado Izquierdo
.listado-izquierdo {
  display: none;
}

@include respond-to($bp-medium){
  .listado-izquierdo {
    display: grid;
  }
}

@include respond-to($bp-medium) {
  .principal { 
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 90vh 8vh 2vh;
  }
  
  .listado-noticias {
    grid-column: 1/2;
    grid-row: 1/3;

    & .noticia {
    float: left;
    padding-top: 2%;
    }
    .cuerpo >img {
      width: 280px;
      height: auto;
    }
  }

  .listado-izquierdo {
    grid-column: 2/3;
    grid-row: 1/3;

    ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;
    }
    
    li {
      background-color: blue;
      color: $secondary;
      border-radius: 30px;
      font-size: $smallFont;
      font-weight: bolder;
      padding: 4px;
    }

    img {
      padding-bottom: 30px;
    }
  }
}


// Newsletter 
.newsletter {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;

  & .group {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }
}

@include respond-to($bp-medium) {
  .newsletter {
    display: inline-box;
    padding-top: 10%;
  }
}
@include respond-to($bp-large) {
  .newsletter {
    display: inline-box;
    padding-top: 20%;
  }
}
@include respond-to($bp-huge) {
  .newsletter {
    display: inline-box;
    padding-top: 20%;
  }
}
// Footer
.footer {
  text-align: center;
  padding-top: 25px;
  
  @include respond-to($bp-medium) {
    display: grid;
  }
}
